.statistic{
  @include displayFlex(row, space-around, center, nowrap);
  height: 240px;
  background-color: $primary_color;

  &__container{
    @include displayFlex(row, flex-start, stretch, wrap);
    width: 220px; //поробовать потом поставить ширину авто
    height: 40px;
    color: $text_color;
  }
  &__icon{
    margin-right: 30px;
    align-self: center;
  }
  &__items{
    @include displayFlex(column, space-around, flex-start, nowrap);
  }

}
