.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 420px;

  &__container{
    width: 640px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    }
}