.clients{
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  &__link{
    width: 100px;
    height: 100px;
    display: block;
  }

  &__logo{
    background-image: url("../img/clients/clients-sprite.png");
  }
  &__logo_img-1{
    width: 89px;
    height: 65px;
    background-position: -10px -10px;
  }
  &__logo_img-2{
    width: 98px;
    height: 58px;
    background-position: -344px -10px;
  }
  &__logo_img-3{
     width: 127px;
     height: 72px;
     background-position: -462px -10px;
   }
  &__logo_img-4{
    width: 96px;
    height: 72px;
    background-position: -228px -10px;
  }
  &__logo_img-5{
    width: 89px;
    height: 65px;
    background-position: -119px -10px;
  }
}

