.contact-form{
  height: 750px;
  background-color: $color_background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text_color-grey;
  font-size: 15px;
  font-family: 'NunitoSans';
  &__text{
    width: 545px;
    text-align: center;
    margin-bottom: 40px;
  }
  &__caption{
    color: #1d1d1d;
    font-weight: bold;
    margin-bottom: 40px;
  }
  &__form{
    width: 700px;
  }
  &__input{
    height: 50px;
    width: 100%;
    border-radius: 0;
    border: none;
  }
  &__input_width{
    width: 100%;
  }
  &__textarea{
    min-height: 170px;
    border-radius: 0;
    border: none;
    resize: none;
  }
  &__button{
    @include button;
    margin-left: 700px/2-180px/2;
  }
}
//.form-control::-webkit-input-placeholder {
//  font-size: 14px;
//  color: rgb(180,189,194);
//  font-family: "Open Sans", sans-serif;
//}
.form-control:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease;
}
