.section-head{
  display: flex;
  flex-direction: row;
  height: 650px;
  //background: url("../img/oboik.ru_50557.jpg");
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  //font-family: 'Montserrat';

  &__logo{
    margin-top: 35px;
    margin-right: 450px;
    background: url("../img/header/logo.png") no-repeat;
    width: 31px;
    height: 25px;
  }
  &__menu{
    margin-top: 35px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    width: 650px;
    justify-content: space-around;
  }
  &__link{
    color: black;
    //text-decoration: none;
    font-family: 'Montserrat';
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    &:hover{
      text-decoration: none;
      color: $primary_color;
      cursor: pointer;
      }
  }
  &__banner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 130px;
    height: 235px;
    width: 480px;
    //font-family: 'Montserrat';
  }
  &__caption{
    font-size: 38px;
    font-weight: bold;
    font-family: 'MontserratMedium';
  }
  &__text{
    font-size: 18px;
    font-family: 'NunitoSans';
    color: $text_color-grey;
  }
  &__button{
     @include button;
  }
}

