.services{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  //align-content: center;
  flex-wrap: wrap;
  height:535px;
  background-color: $color_background;
  font-family: 'NunitoSans';
  font-size: 16px;
  color: $text_color-grey;

  &__items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    //width: 300px;
    height: 180px;
  }
  &__icon{
    background: url("../img/services/services_sprites.png");
  }
  &__icon_background-design{
    width: 42px;
    height: 39px;
    background-position:-175px -10px;
  }
  &__icon_background-seo{
    width: 44px;
    height: 44px;
    background-position:-364px -10px;
  }
  &__icon_background-web{
    width: 40px;
    height: 40px;
    background-position:-115px -10px;
  }
  &__icon_background-photography{
    width: 44px;
    height: 41px;
    background-position: -428px -10px;
  }
  &__icon_background-app{
    width: 26px;
    height: 44px;
    background-position: -10px -10px;
  }
  &__icon_background-graphic{
    width: 39px;
    height: 40px;
    background-position: -56px -10px;
  }
  &__icon_background-game{
    width: 44px;
    height: 42px;
    background-position: -300px -10px;
  }
  &__icon_background-illustrations{
    width: 43px;
    height: 46px;
    background-position: -237px -10px;
  }
  &__caption{
    font-size: 12px;
    text-transform: uppercase;
    color:#191919;
    font-weight: bold;
    letter-spacing: 2px;
  }
  &__text{
    width: 240px;
    text-align: center;
   }
}

