.skills{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 566px;
  &__statistic{
    background-color: #f8f9f9;
    width: 100%;
   }
  &__img{
    background: url("../img/skills/background_skill.jpg") no-repeat;
    width: 100%;
  }
}