.work-process{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 930px;

  &__text{
    width: 510px;
    text-align: center;
  }
  &__video{
    width: 1175px;
    height: 570px;
  }
}